<div ng-include="'partials/navbar'"></div>


<h1>Welcome to Crowdshipper!</h1>

<h4>Shop and ship, from Amazon.</h4>

<div class="row">
	<hr>
</div>

<form ng-controller='RegisterController' class="form" name="form" ng-submit='register(form)'>
	<div class="form-group">
			<label for="email">Email: </label>
				<input class="form-control" 
				type="email" 
				placeholder="Your Email" 
				name="email" 
				ng-model="user.email">
			<label for="password">Password: </label>
				<input class="form-control" 
				type="password" 
				placeholder="Your Password"
				name="password"
				ng-model="user.password">
			<br>
			<button type="submit">Register / Log In</button>
	</div>
</form>

<div class="row">
	<h3>
		Ever wanted to buy something from Amazon,
	</h3>
	<p>
		but was put off by the high shipping costs? Now, you can shop in confidence.
	</p>
</div>

<div class="row">
	<h3>
		It's simple.
	</h3>
	<p>
		Just browse through Amazon and select what you want, then drop it into a Box.
	</p>
	<p>
		Pledge a payment with us - as soon as the Box is filled, your payment is processed and the order is placed.
	</p>
	<p>
		All shipment logistics and orders will be handled by us - delivery to school included!
	</p>
</div>

<div class="row">
	<h3>
		What if the shipment is delayed?
	</h3>
	<p>
		We cannot guarantee a shipping time. We can, however, provide a weighted average of the shipping times of every single Box that has been shipped through us.
	</p>
</div>