<h1>Welcome to Crowdshipper!</h1>

<h4>Shop and ship, from Amazon.</h4>

<div class="row">
	<hr>
</div>

<form ng-controller='RegisterController' name="registerForm" ng-submit='register(registerForm)'>
	<div class="form-group">
			<label for="email">Email: </label>
				<input class="form-control"
				type="username"
				name="username"
				placeholder="Pick a Username"
				ng-model="newUser.username">
			<label for="email">Email: </label>
				<input class="form-control"
				type="email"
				name="email"
				placeholder="Enter a valid email"
				ng-model="newUser.email">
			<label for="password">Password: </label>
				<input class="form-control"
				type="password"
				name="password"
				placeholder="Choose a secure password"
				ng-model="newUser.password">
			<br>
			<button type="submit">Register</button>
	</div>
</form>

<div class="row">
	<h3>
		Ever wanted to buy something from Amazon,
	</h3>
	<p>
		but was put off by the high shipping costs? Now, you can shop in confidence.
	</p>
</div>

<div class="row">
	<h3>
		It's simple.
	</h3>
	<p>
		Just browse through Amazon and select what you want, then drop it into a Box.
	</p>
	<p>
		Pledge a payment with us - as soon as the Box is filled, your payment is processed and the order is placed.
	</p>
	<p>
		All shipment logistics and orders will be handled by us - delivery to school included!
	</p>
</div>

<div class="row">
	<h3>
		What if the shipment is delayed?
	</h3>
	<p>
		We cannot guarantee a shipping time. We can, however, provide a weighted average of the shipping times of every single Box that has been shipped through us.
	</p>
</div>
